.page-tube .item {
    border-bottom: 2px solid #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-top: 30px;
}

.page-tube .video-type {
    font-size: 19px;
    font-weight: bold;
    margin-left: 150px;
    margin-top: 15px;
    text-align: left;
}

.page-tube .video-type .music-icon{
    background: #333;
    border-radius: 50%;
    color: #fff;
    margin-right: 8px;
    padding: 7px 10px 7px 10px;
}
